@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}

:root {
    --primary:#219150;
    --dark:#10221b;
}

.padding {
    padding: 5rem 9rem;
  }







/*  *_*_*_*_*_*_  Header Section  *_*_*_*_*_*_ */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0rem 9rem;
    padding: 1rem 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

#header .logo {
    margin-right: auto;
    font-size: 1.7rem;
    color:var(--dark);
    font-weight: bolder;
    cursor: pointer;
}

#header .logo i {
    color: var(--primary);
    margin-right: .5rem;
}

#header .navbar a {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
    transition: all .3s ease;
}

#header .icons{
    display: flex;
    margin-left: 1rem;
}

#header .icons .cart {
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
}

#header .icons #search-btn {
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
}

#header .icons #search-btn:hover {
    color: var(--primary);
}

#header .icons a {
    color: var(--dark);
}

#header .navbar a:hover,
#header .icons a:hover {
    color: var(--primary);
}

#close {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--dark);
    display: none;
}

#bar {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--dark);
    margin-left: 1rem;
    display: none;
}






