@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

:root {
    --primary:#219150;
    --dark:#10221b;
}

.padding {
    padding: 5rem 9rem;
}


.btn {
    margin-top: 1rem;
    display: inline-block;
    border: 0.1rem solid var(--dark);
    color: var(--dark);
    cursor: pointer;
    background: none;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    text-transform: capitalize;
    transition: all .3s ease;
}
  
.btn:hover {
    background: var(--dark);
    color: #fff;
}








/*  *_*_*_*_*_*_  Header Section  *_*_*_*_*_*_ */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0rem 9rem;
    padding: 1rem 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

#header .logo {
    margin-right: auto;
    font-size: 1.7rem;
    color:var(--dark);
    font-weight: bolder;
    cursor: pointer;
}

#header .logo i {
    color: var(--primary);
    margin-right: .5rem;
}

#header .navbar a {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
    transition: all .3s ease;
}

#header .icons{
    display: flex;
    margin-left: 1rem;
}

#header .icons .cart {
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
}

#header .icons #search-btn {
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
}

#header .icons #search-btn:hover {
    color: var(--primary);
}

#header .icons a {
    color: var(--dark);
}

#header .navbar a:hover,
#header .icons a:hover {
    color: var(--primary);
}

#close {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--dark);
    display: none;
}

#bar {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--dark);
    margin-left: 1rem;
    display: none;
}







/* ==========  Hero Section  ========== */

#hero {
    padding: 0;
}

#hero .box {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content: flex-end;
    padding: 2rem 9rem;
}

#hero .box.second {
    justify-content: flex-start;
}

#hero .box .content {
    width: 30rem;
}

#hero .box .content span {
    font-size: 2rem;
    color: var(--dark);
}

#hero .box .content h3 {
    font-size: 4rem;
    color: var(--primary);
    padding-top: .5rem;
    text-transform: uppercase;
}

#hero .box .content p {
    line-height: 2;
    color: var(--dark);
    font-size: .9rem;
    padding-bottom: 1rem;
    text-transform: capitalize;
}






/*========== Category Section ===========  */

#category {
    text-align: center;
}

#category h2 {
    font-size: 2.5rem;
}

#category .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#category .wrapper .box {
    width: 15rem;
}

#category .wrapper .cat_img {
    width: 100%;
    margin-bottom: .5rem;
}

#category .wrapper .cat_img img {
    width: 80%;
    border-radius: 50%;
}

#category .wrapper .box span {
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: bolder;
}

#category .wrapper .box p {
    font-size: .9rem;
    margin-top: .5rem;
    color: var(--dark);
}






/*========== About Section ===========  */


#about {
    background-color: #eee;
}

#about .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about .wrapper .left_box {
    width: 48%;

}

#about .wrapper .left_box img {
    width: 100%;
    box-shadow: 3rem 3rem 0 rgb(0 0 0 / 10%);
}

#about .wrapper .right_box {
    width: 45%;
}

#about .wrapper .right_box span {
    color: var(--primary);
    font-size: 2rem;
    font-weight: bolder;
}

#about .wrapper .right_box p {
    color:var(--dark);
    font-weight: 300;
    line-height: 1.8;
}

#about .wrapper .right_box > p {
    margin: 1rem 0;
}

#about .wrapper .right_box .p-2 {
    margin-top: 2rem;
}






/*========== Shop Section ===========  */

#shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shop h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

#shop .shop_card {
    width: 19rem;
    max-width: 296px;
    margin-right: 0;
    border: 2px solid var(--dark);
    cursor:grab;
}

#shop .shop_card .shop_img {
    width: 18.14rem;
}

#shop .shop_card .shop_img img {
    width: 100%;
}

#shop .shop_card .shop_content {
    margin: 1rem 0;
    text-align: center;
}

#shop .shop_card .shop_content strong {
    display: block;
    color: var(--dark);
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

#shop .shop_card .shop_content span {
    
    font-size: 1.2rem;
    color: var(--primary);
    font-weight: 400;
}

#shop .shop_card .shop_content .rating_star {
    margin-top: .5rem;
}

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    display: none;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 0rem;
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: rgb(105, 104, 104);
}





/*========== Packages Section ===========  */

#package {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #eee;
}

#package h2 {
    font-size: 2.5rem;
    margin: 1rem 0 2rem 0;
}

#package .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    flex-wrap: wrap;
}

#package .container .box {
    width: 400px;
    border: 2px solid var(--dark);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    transition: all .3s linear;
}

#package .container .box:hover {
    background-color: var(--dark);
}

#package .container .box .package__image {
    width: 100%;
}

#package .container .box .package__image img {
    border-radius: 8px;
    width: 100%;
    
}

#package .container .box .package__content h5 {
    margin-top: 1rem;
    font-size: 1.2rem;
}

#package .container .box .package__content p {
    margin: 1rem 0;
    font-weight: 300;
}

#package .container .box .package__content span {
    display: block;
    color: var(--primary);
    font-size: 1.3rem;
}

#package .container .box .package__content a {
    margin-bottom: 1rem;
}

#package .container .box:hover h5,
#package .container .box:hover p {
    color: #ffff;
}

#package .container .box:hover a {
    border-color: #ffff ;
    color: #ffff;
}

#package .container .box .package__content a:hover {
    background-color: #ffff;
    color: var(--dark);
}